# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
12) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [1]:
num_int = 6

print(num_int)

6

##### Assinging float

In [2]:
num_int = 6.0

print(num_int)

6.0

#### Performing Calculations on ints and floats

##### Addition

In [6]:
num1 = 2
num2 = 5
result = num1 + num2
print(result)

#Short hand version
result += 2 #result = result + 2
print(result)

7
9

##### Subtraction

In [8]:
num1= 2
num2 = 5
result = num2 - num1
print(result)
result -= 1
print(result)

3
2

##### Multiplication

In [10]:
num1 = 2
num2 = 5
result = num1 * num2
print(result)
result *= 10
print(result)

10
100

##### Division

In [13]:
num1 = 2
num2 = 5
result = num2 / num1
print(result)
result /= 2
print(result)

2.5
1.25

##### Floor Division

In [14]:
num1 = 2
num2 = 5
result = num2 // num1
print(result)

2

##### Modulo

In [22]:
num1 = 2
num2 = 5
result = num2 % num1
print(result)
num2 = 6
result = num2 % num1
print(result)

#now with float:
num1 = 2.0
num2 = 5
result = num2 % num1
print(result)
num2 = 6
result = num2 % num1
print(result)

1
0
1.0
0.0

##### Exponential

In [23]:
num1 = 2
num2 = 3
result = num1**num2
print(result)
result **= 3
print(result)

#now with float
num1 = 2.0
num2 = 3
result = num1**num2
print(result)
result **= 3
print(result)

8
512
8.0
512.0

### String Input-Output

##### String Assignment

In [27]:
name1 = 'Siobhan '
print(name1)
name2 = "Boylan"
print(name1 + " is type " +  str(type(name1)))
print(name2 + " is type " +  str(type(name2)))
print(name1 + name2)

Siobhan
Siobhan  is type <class 'str'>
Boylan is type <class 'str'>
Siobhan Boylan

In [28]:
contraction1 = "It's mine"
print(contraction1)

It's mine

In [29]:
quote1 = "Siobhan said, 'didn't we already learn this?'"
print(quote1)

Siobhan said, 'didn't we already learn this?'

##### Escape Characters

In [30]:
quote2 = 'Siobhan said, "didn\'t we already learn this?"'
print(quote2)

Siobhan said, "didn't we already learn this?"

In [39]:
#multiple lines - NOPE
print("Hello, \
How are you?")

Hello, How are you?

In [35]:
# \n
#multiple lines
print("Hellow, \nhow are you?")

Hellow,
how are you?

In [36]:
# \t (tab)
print("Hellow, \thow are you?")
print("Hellow, \n\thow are you?")

Hellow, 	how are you?
Hellow,
	how are you?

In [37]:
# Raw String
print(r"Hello \nhow are you?")

Hello \nhow are you?

##### String Concatenation

##### Type Conversion

In [ ]:
num_a_str = str(num1)
print(num1, type(num1))
print(num_a_str, type(num_a_str))

##### .format() and f-strings

In [41]:
name = "Siobhan"
home = "California"
#brackets allow you to name a variable inside a string
print("Hello, my name is {} and I am from {}.".format(name, home))
print(f"Hello, my name is {name} and I am from {home}.")

Hello, my name is Siobhan and I am from California
Hello, my name is Siobhan and I am from California.

##### Old Way (python 2)

In [42]:
print("Hello my name is %s and I amd from %s" % (name, home))

Hello my name is Siobhan and I amd from California

In [43]:
result = 10 + 5
print("the result is %i" % result)

the result is 15

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [51]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'ford'
year = '2022'
model = 'focus'

print(f"I drive a {color} {str(int(year) + 1)} {make.title()} {model.title()}.")
#don't need to convert integers to string when using f-string
print(f"I drive a {color} {int(year) + 1} {make.title()} {model.title()}.")

I drive a blue 2023 Ford Focus.
I drive a blue 2023 Ford Focus.

### Booleans

In [ ]:
bool_true = True
print(bool_true)
print(type(bool_true))

In [ ]:
bool_true = False
print(bool_true)
print(type(bool_true))

### If Statements

In [54]:
# if <expression>:
#     <statement>
if True:
    print("Hello this is true")

Hello this is true

In [55]:
# if <expression>:
#     <statement>
if False:
    print("Hello this is true")
#won't print bc 'FALSE' always returns boolean False (not boolean True that false is false...)
#don't usually use; more often you'll see if <condition>:

In [60]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)
num1 = 10
num2 = 5
num3 = 2
print(num1 == num2)
print(num1 != num2)
print(num1 > num2)
print(num2 >= num3)
print(num1 == num2 * num3)

False
True
True
True
True

In [64]:
if num1 > num2:
    print(f"{num1} is greater than {num2}")
if num1 == num2 * num3:
    print(f"{num2} x {num3} = {num1}")

10 is greater than 5
5 x 2 = 10

## Using 'and'/'or' with If Statements

In [67]:
# Truth Tree:
# T and T = T
# T and F = F
# F and F = F
# T or T = T
# T or F = T
# F or F = F

num1 = 10
num2 = 5
num3 = 2
if num1 > num2 and num2 > num3:
    print ("both options are true.")
if num1 > num2 and num2 < num3:
    print('at least one condition is true')

both options are true.

### Else Statements

In [68]:
# An else statement runs when the if statement above it evaluates to False
required_height = 60
rider_height = 48
if rider_height >= required_height:
    print("Enjoy the ride!")
else:
    print("Come back when you're taller :/")

Come back when you're taller :/

### Elif Statements

In [ ]:
# An elif only runs when the if (or elif) directly above it evaluates to False

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (under 0-9) are half off. Print out the ticket price at the end</p>

In [101]:

ticket = 10
# person_age = 72 # Output: Your ticket is $7.50
# person_age = 47 # Output: Your ticket is $10
# person_age = 8 # Output: Your ticket is $5.00

#FIRST ATTEMPT - different message for each
# person_age = 8
# if person_age >= 65:
#     ticket *= .75
#     print(f"You qualify for the senior ticket price: ${ticket:.2f}")
# elif person_age <=9:
#     ticket /= 2
#     print(f"You qualify for the child ticket price: ${ticket:.2f}")
# else:
#     print(f"Regular price tickets are ${ticket:.2f}")

# Partner suggested only using "if" statements - 
# but that means each if has to run and evaluation
# If you use the "elif," it stops running as soon as an expression
# returns FALSE

#Cleaner, simplified version:
person_age = 8
if person_age >= 65:
    ticket *= .75
elif person_age <= 9:
    ticket *= .25
print(f"Your ticket is ${ticket:.2f}.")

Your ticket is $2.50.

### Lists

##### Declaring Lists

In [112]:
empty_list = []
print(empty_list)
print(type(empty_list))

names = ['Edgar', 'Marion', 'Hilda', 'Laverne', 'Mel']
print(names)
print(type(names))

[]
<class 'list'>
['Edgar', 'Marion', 'Hilda', 'Laverne', 'Mel']
<class 'list'>

In [104]:
num_list = [34, 12, 23,  234, 567, 134]
print(num_list)
print(type(num_list))

[34, 12, 23, 234, 567, 134]
<class 'list'>

In [105]:
random_list = [12, 3456.278, "hello", True]
print(random_list)
print(type(random_list))

[12, 3456.278, 'hello', True]
<class 'list'>

##### Indexing a List

In [116]:
#list[index]
#list[start:stop]
# [start: stop: step] 
# START is INCLUSIVE
# Stop is EXclusive

print(names)
print(names[0]) #first in list
print(names[1:2]) #start at 1-index and before 2-index
print(names[:3]) #print 0, 1, 2 - doesn't include #3
print(names[2:]) #print from 2-index (3rd) to end
print(names[::2]) #print every-other item
print(names[1:4:2]) #print 1, 3

#reverse the list
#from start to end, step is backwards 1
# does NOT permanently change list
print(names[::-1]) 
#while list.reverse() WILL permanently change the original list

['Edgar', 'Marion', 'Hilda', 'Laverne', 'Mel']
Edgar
['Marion']
['Edgar', 'Marion', 'Hilda']
['Hilda', 'Laverne', 'Mel']
['Edgar', 'Hilda', 'Mel']
['Marion', 'Laverne']
['Mel', 'Laverne', 'Hilda', 'Marion', 'Edgar']

##### .append()

In [118]:
#list.append(value_to_append) - adds value to end of list
print(names)
names.append('Alberta')
print(names)

['Edgar', 'Marion', 'Hilda', 'Laverne', 'Mel']
['Edgar', 'Marion', 'Hilda', 'Laverne', 'Mel', 'Alberta']

##### .insert()

In [136]:
names.append("Bob")

In [128]:
# list.insert(index,value)
names = ['Edgar', 'Marion', 'Hilda', 'Laverne', 'Mel']
print(names)
names.insert(0, "Alberta")
print(names)

['Edgar', 'Marion', 'Hilda', 'Laverne', 'Mel']
['Alberta', 'Edgar', 'Marion', 'Hilda', 'Laverne', 'Mel']

##### .pop()

In [129]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable
print(names)
grma_name = names.pop(0)
print(names)
print(grma_name)

['Alberta', 'Edgar', 'Marion', 'Hilda', 'Laverne', 'Mel']
['Edgar', 'Marion', 'Hilda', 'Laverne', 'Mel']
Alberta

##### .count()

In [131]:
#list.count(value) - returns the number of times that value appears in the list
print(names.count("Bob"))

0

In [130]:
#####.index()
#list.index(value) - the index of the first item to match the value
print(names.index("Edgar"))

0


##### .remove()

In [137]:
# value to be removed , not index
print(names)
names.remove("Bob")
print(names)

['Edgar', 'Marion', 'Hilda', 'Laverne', 'Mel', 'Bob', 'Bob', 'Bob', 'Bob', 'Bob']
['Edgar', 'Marion', 'Hilda', 'Laverne', 'Mel', 'Bob', 'Bob', 'Bob', 'Bob']

##### del()

In [139]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully

print(names)
del names[-1]
print(names)

['Edgar', 'Marion', 'Hilda', 'Laverne', 'Mel', 'Bob', 'Bob', 'Bob']
['Edgar', 'Marion', 'Hilda', 'Laverne', 'Mel', 'Bob', 'Bob']

##### Concatenating Two Lists

In [142]:
# will append two lists together, not add up the elements of the lists
list1 = [1,2,3]
list2 = [4,5,6]
combo_list = list1 + list2
print(combo_list)

[1, 2, 3, 4, 5, 6]

##### .clear()

In [140]:
# list.clear() - removes all values from list
print(names)
names.clear()
print(names)

['Edgar', 'Marion', 'Hilda', 'Laverne', 'Mel', 'Bob', 'Bob']
[]

##### Lists Within Lists

In [147]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

names = ["Jon", "Barb", ["Wendy", "Megan", "John",], "Mike",  ["Matthew", "Chris", "Jennifer", "Andrew"]]
print(names)
print(names[1])
print(names[3][1])

['Jon', 'Barb', ['Wendy', 'Megan', 'John'], 'Mike', ['Matthew', 'Chris', 'Jennifer', 'Andrew']]
Barb
i

### For Loops

In [151]:
# for <keyword> in <iterable>:
#     <statement>
print("code START")
for x in [5, 10, 15, 20, 25, 30, 35, 40]:
    print(x)
    print("The x value is equal to:", x, "...next...")
print("code END")

code START
5
The x value is equal to: 5 ...next...
10
The x value is equal to: 10 ...next...
15
The x value is equal to: 15 ...next...
20
The x value is equal to: 20 ...next...
25
The x value is equal to: 25 ...next...
30
The x value is equal to: 30 ...next...
35
The x value is equal to: 35 ...next...
40
The x value is equal to: 40 ...next...
code END

In [ ]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
for color in colors:
    print(color)

In [154]:
full_name = "Siobhan Boylan"
for letter in full_name:
    print(letter)

S
i
o
b
h
a
n

B
o
y
l
a
n

##### Continue Statement

In [156]:
# will continue to next iteration
for num in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    if num == 5:
        continue #skips over next step and goes to next iteration in list
    print(num)

1
2
3
4
6
7
8
9
10

##### Break Statement

In [ ]:
# will break out of current loop

In [157]:
for num in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    if num == 5:
        break #ends the loop in this iteration
    print(num)

1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [158]:
names = ["adah", "piglette", "stormie", "rosie", "oreo", "kijika", "Gophie"]
for name in names:
    pass #TODO - note to self! 
    #without the pass, if you tried to comment after colon, 
    #you'd get an indentation error
    #bc python is looking for the function
print(names)

['adah', 'piglette', 'stormie', 'rosie', 'oreo', 'kijika', 'Gophie']

In [160]:
def some_func():
    pass
some_func()

##### Nested/Double For Loops

In [164]:
for i in range(5):
    print(f"i = {i}")
    for j in range(5):
        print(f"i = {i}, j = {j}")
#nested -for- loop is exponential time

i = 0
i = 0, j = 0
i = 0, j = 1
i = 0, j = 2
i = 0, j = 3
i = 0, j = 4
i = 1
i = 1, j = 0
i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 1, j = 4
i = 2
i = 2, j = 0
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 2, j = 4
i = 3
i = 3, j = 0
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3
i = 3, j = 4
i = 4
i = 4, j = 0
i = 4, j = 1
i = 4, j = 2
i = 4, j = 3
i = 4, j = 4

### While Loops

In [168]:
# while <conditional>:
#     <statement to run while condition is true>

num = 0
while num < 10:
    print(num)
    num +=1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [170]:
# careful to set up a break point or a condition you'll know will evaluation to false!
#while True:
#    print("infinite loop")

game_over = True
while True:
    print('infinite loop')
    if game_over:
        break

infinite loop

### Built-In Functions

##### input()

In [ ]:
# input(question) => ALWAYS RETURNS A STRING

name = input("What is your name? ")
print(name)

In [176]:
age = input("How old are you? ")
age_in_five = int(age) + 5
print(f"You will be {age_in_five} in five years' time.")

# --OR--
# age = int(input("How old are you? "))
# age_in_five = age + 5
# print(f"You will be {age_in_five} in five years' time.")

How old are you? 42
You will be 47 in five years' time.
How old are you? 42
You will be 47 in five years' time.

##### range()

In [188]:
# range(stop)
# range(start, stop)
# range(Start, Stop, Step)
# returns RANGE object...

range(11)
print(list(range(0,10)))
for i in range(10):
    print(i)

# for i in range(10, 20):
#     print(i)

# for i in range(10, 20, 2):
#     print(i)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0
1
2
3
4
5
6
7
8
9

##### len()

In [192]:
# check Length of variable - includes spaces in strings!
name = "Siobhan Boylan"
length = len(name)
print(length)

14

In [191]:
cities = ["paris", "madrid", "Accra", "Shenzhen"]
print(len(cities))

4

##### Looping Through Lists

In [200]:
# two ways to loop through a list, using range for index and in for values

# Loop with a for loop (By Index)
for i in range(len(cities)):
    print(i, cities[i])
    
# Loop with a for loop (Using the 'in' keyword)

for city in cities:
    print(city)

0 paris
1 madrid
2 Accra
3 Shenzhen
paris
madrid
Accra
Shenzhen

##### help()

In [194]:
# Use this function to view more info about a python function (With a DOCSTRING)
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [196]:
range(5)

range(0, 5)

In [195]:
for i in range(len(cities)):
    print(i, cities[i])

0 paris
1 madrid
2 Accra
3 Shenzhen

In [197]:
for i in range(3):
    print(i)

0
1
2

##### isinstance()

In [199]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

x = 4.5
print(isinstance(x, float))

if isinstance(x, float):
    print(f"{x} is a float")

True
4.5 is a float

### Try and Except

In [203]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use so that you can log out graceful and useful error messages
try:
    number_test = 5
    input_num = int(input("Guess a number: "))
    while input_num != number_test:
        print("That is incorrect. Please guess again.")
        input_num = int(input("Guess a number: "))
    print(f"Congrats! You guessed the number! {number_test}")
except:
    print("That is not a valid guess. Please guess an integer.")

Guess a number: frank
That is not a valid guess. Please guess an integer.

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [ ]:
list_num = []
num = 0
while num <= 1000:
    #start from 0 and keep going until number is 1000
    for i in range (0:):
        print(type(i))
#         #test if number is cube
#         if round(i ** (1 / 3) **3) == i
#         list_num.append(i)
#         num = i

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [207]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

num1 = 10
num2 = 20
if num1 > num2:
    print("Hello")
else:
    print("goodbye")

for i in range(10):
    if i == 5:
        break
    else:
        print("it didn't break")

goodbye

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>